#contenedor{
    width: 100%;
    height: 700px;
}

#superior{
    width: 100%;
    height: 80px;
    background-color: rgb(125, 150, 146);
}

#medio{
    width: 100%;
    height: 400px;
    background-color: rgb(230, 27, 162);
}

#izquierdo{
    width: 20%;
    height: 400px;
    background-color: rgb(60, 91, 126);
    float: left;
}

#derecho{
    width: 80%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    float: left;
}